html, body{
    margin:0px !important;
    padding: 0px !important;
     background-color: #F2F2F2;
}
.titulos{
    font-weight: 600;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0D1528;
    text-align: center;
    color: rgb(255, 254, 254);
}
ul{
    margin: auto;
}
.nome ul li {
    display: inline-block;
    float: none;
    padding:10px;
}
.menu-urls {
    height: 70px;
    border-bottom: 3px solid chocolate;
} 
.menu ul li {
    display: inline-block;
    margin-left: 24px;
    height: 4-px;
}
.menu ul li a {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}
.menu ul li:hover {
    border-bottom: 2px solid cadetblue;
}
.menu ul li a:hover{
    padding: 10px;
    color: cadetblue;

}
.menu {
    width: 50%;
    float: left;
    justify-content: center;
    justify-items: center;
    padding-left: 50px;
    height: 30px;
    margin-right: 10px;
    width: 700px;
    border-top-width: 10px;
}
.nav{
    display: block;
}
.descriçao{
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    height: auto;
    color: gray;
    padding: 7px;
}
.imagens-centralizadas{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        padding: 15px;
}
.texto-geral{
        height: auto !important;
        min-height: 0px !important;
        margin-bottom: auto;

        margin-left: 20px;
        text-align: center;
        color: #333;
        width:700px ;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        flex-flow: column;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        line-height: 25px;
        margin-top: 0%;
}
.rotape{
    background-image: url(Guerra-e-paz.jpg);
    background-repeat: none;
    background-position: center;
    padding: 25px;
    height: 200px;
}
.rotape-text{
    color:white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900px;
    height:150px;
    width: auto;
}
.mao{
    background-color: #465585;
    padding: 27px;
    padding-bottom: 3%;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}
.imagem-2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding: 10px;
        height: 200px;
}
